.footer {
  margin: 0 auto;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85px;
}
.footer__list {
  display: flex;
  justify-content: center;
}
.footer__list-item {
  width: 25px;
  height: 25px;
}
.fa-brands,
.fa-solid.fa-wifi {
  color: var(--icon-color);
}
.footer-ui {
  color: var(--third-color);
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.502;
  display: flex;
  justify-content: center;
}
/* Responsive for tablet */

@media screen and (min-width: 768px) {
  .footer {
  }
  .footer__list-item {
    margin: 5px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
  }

  .footer__list-item {
    margin: 13px;
  }
  .fa-brands,
  .fa-wifi {
    width: 25px;
    height: 25px;
    font-size: 25px;
  }
}
