/* NAVBAR STYLING STARTS */

.navbar {
  display: flex;
  width: 100%;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-color);
  color: var(--third-color);
  height: 72px;
}
.navbar-text {
  text-transform: capitalize;
  opacity: 0.69;
  display: block;
  color: #cfd9e0;
  font-size: 18px;
  padding: 5px 10px;
  transition: 0.2s;
  text-decoration: none;
}

.header__logo-left {
  cursor: pointer;
}
.logo-img {
  width: 60px;
}
.nav-links {
  display: none;
}
.active {
  display: block;
  margin-top: 200px;
  background: var(--secondary-color);
  z-index: 2;
  padding: 30px;
}
.navbar-text:hover {
  text-decoration: none;
  border: 1px solid var(--third-color);
  border-radius: 50px;
}

/*HAMBURGER MENU*/

.hamburger {
  display: block;
  font-size: 24px;
}
/* Responsive for tablet */

@media screen and (min-width: 768px) {
  .header__tool {
    margin: 0 auto;
  }
  .navbar {
    padding: 0 50px;
  }
  .nav-links {
    display: block;
    flex-direction: row;
  }
  .navbar-text {
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    transition: ease 0.4s;
    text-decoration: none;
    color: var(--third-color);
  }
  .nav-links {
    display: flex;
  }
  .navbar__list-item {
    text-align: center;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .navbar-text:hover {
    border: 2px solid var(--third-color);
    border-radius: 50px;
  }
  .hamburger {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header__tool {
  }
  .navbar {
    height: 75px;
    padding-left: 100px;
  }
  .logo-img {
    width: 80px;
    height: 30px;
  }
  .nav-links {
    display: block;
    gap: 40px;
  }
  .navbar-text {
    font-weight: 600;
    font-family: SemiBold;
    opacity: 0.69;
  }
  .nav-links {
    display: flex;
    padding-right: 110px;
  }
  .navbar__list-item {
    text-align: center;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .hamburger {
    display: none;
  }
}
