.content_section {
  width: 100%;
  margin: 0 auto;
  background-image: url(/src/assets/images/backgroud-header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
.header__container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: rgba(12, 12, 12, 0.519);
  padding: 69px 65px 59px;
}
.logo-content {
  width: 120px;
  height: 41px;
}
.content_left {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.container__title {
  font-family: Raleway-Regular;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--third-color);
  text-align: center;
  padding: 30px 0 0;
}
.header__hr {
  color: var(--third-color);
  border: 2px solid;
  width: 40px;
  margin-top: 20px;
}
.header__desc {
  opacity: 0.8;
  font-size: 8px;
  line-height: 16px;
  color: var(--third-color);
  font-weight: 300;
  font-family: Raleway-Regular;
  text-align: center;
  width: 250px;
  padding: 20px 0;
}
.header__btn {
  cursor: pointer;
  color: var(--third-color);
  text-transform: capitalize;
  background-color: #0000;
  border: 2px solid;
  width: 120px;
  margin: auto;
  padding: 5px;
  font-size: 13px;
}

.header__form {
  background-color: var(--third-color);
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 250px;
  display: flex;
}
.header__form-title {
  color: var(--font-color);
  text-align: center;
  text-transform: capitalize;
  font-family: SemiBold;
  font-size: 16px;
  line-height: 33px;
}
.link-form {
  color: var(--primary-color);
  text-transform: uppercase;
}
.header__input {
  outline: var(--third-color);
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid var(--focus-color);
}
.btn {
  border: none;
  height: 30px;
  background-color: var(--primary-color);
  color: var(--third-color);
  text-transform: capitalize;
}
/* Responsive for tablet */

@media screen and (min-width: 768px) {
  .content_section {
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  .logo-content {
    width: 160px;
    height: 61px;
  }
  .header__container {
    flex-direction: row;
    align-items: flex-start;
  }
  .content_left {
    align-items: flex-start;
  }
  .container__title {
    text-align: start;
    font-size: 28px;
  }
  .header__desc {
    text-align: start;
    font-size: 10px;
    line-height: 18px;
  }
  .header__btn {
    margin: 0;
  }
  .content__right {
    margin-top: 50px;
  }
  .header__form {
    width: 240px;
    height: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .content_section {
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .header__container {
    padding: 100px 150px;
    justify-content: space-between;
  }
  .container__title {
    font-size: 36px;
    width: 550px;
  }
  .header__hr {
    width: 65px;
  }
  .header__desc {
    font-size: 16px;
    line-height: 23px;
    width: 550px;
    padding: 50px 0;
  }
  .content__right {
    margin-top: 30px;
  }
  .header__form {
    width: 365px;
    height: 365px;
  }
}
