.pricing {
  margin: 50px auto;
  background-color: var(--places-color);
}
.pricing__container {
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 10px;
}
.pricing__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.pricing__left-title {
  color: #212121;
  text-align: center;
  font-family: SemiBold;
  font-size: 16px;
  line-height: 33px;
  text-transform: capitalize;
}
.pricing__hr {
  color: var(--primary-color);
  border: 1px solid;
  width: 40px;
  margin-top: 20px;
}
.pricing__desc {
  text-align: center;
  padding-top: 15px;
  color: var(--desc-color);
  font-size: 8px;
  line-height: 15px;
  font-family: SemiBold;
}
.pricing__right-img {
  width: 320px;
  object-fit: cover;
}
/* Responsive for tablet */

@media screen and (min-width: 768px) {
  .pricing {
  }
  .pricing__container {
    flex-direction: row;
    align-items: flex-start;
    padding: 50px;
  }
  .pricing__left-title {
    font-size: 18px;
    line-height: 37px;
    text-align: start;
  }
  .pricing__left {
    align-items: flex-start;
  }
  .pricing__desc {
    text-align: start;
    font-size: 10px;
    line-height: 18px;
  }
  .pricing__right-img {
    width: 420px;
  }
}

@media screen and (min-width: 1440px) {
  .pricing {
  }
  .pricing__container {
    padding: 20px;
    justify-content: space-around;
  }
  .pricing__left {
    width: 500px;
  }
  .pricing__left-title {
    font-size: 20px;
    line-height: 43px;
  }
  .pricing__desc {
    text-align: start;
    font-size: 11px;
    line-height: 20px;
  }
  .pricing__right-img {
    width: 550px;
  }
}
