.contact {
  margin: 50px auto;
}
.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__title {
  font-size: 26px;
  line-height: 30px;
  color: var(--font-color);
  text-transform: uppercase;
}
.contact__hr {
  width: 40px;
  color: var(--primary-color);
  border: 1px solid;
  margin-top: 20px;
}

.contact__desc {
  text-align: center;
  width: 250px;
  padding: 30px;
  color: var(--input-color);
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__form-input {
  border: none;
  border-bottom: 1px solid gray;
  outline: #fff;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  color: var(--input-color);
  text-transform: capitalize;
}
.contact__btn {
  width: 120px;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--third-color);
  border-radius: 1px;
  padding: 5px;
  text-transform: capitalize;
  font-size: 13px;
  margin: auto;
}
/* Responsive for tablet */

@media screen and (min-width: 768px) {
  .contact {
  }
  .contact__title {
    font-size: 32px;
  }
  .contact__desc {
    width: 350px;
  }
  .contact__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 80px;
    justify-content: start;
  }
  .contact__left {
    width: 40%;
  }
  .contact__right {
    width: 40%;
  }
  .contact__form-input {
    margin-left: 40px;
    width: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .contact {
  }
  .contact__title {
    font-size: 36px;
  }
  .contact__form-input {
    width: 550px;
    margin-left: 120px;
  }
  .contact__btn {
    width: 145px;
    font-size: 15px;
    padding: 10px;
  }
}
