.stylish {
  width: 100%;
  height: 320px;
  margin: 0 auto;
  background-image: url(/src/assets/images/backgroud_stylish.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
  object-fit: cover;
}
.stylish__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  background-color: rgba(12, 12, 12, 0.519);
  padding: 69px 65px 59px;
}
.stylish__title {
  font-size: 24px;
  color: var(--third-color);
  text-transform: uppercase;
  width: 200px;
  text-align: center;
}
.stylish__hr {
  width: 40px;
  color: var(--third-color);
  border: 1px solid;
  margin: 20px auto;
}
.stylish__desc {
  opacity: 0.8;
  color: var(--third-color);
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  width: 300px;
  text-align: center;
}
.stylish__btn {
  width: 120px;
  border: 2px solid;
  background-color: transparent;
  cursor: pointer;
  color: var(--third-color);
  padding: 5px;
  text-transform: capitalize;
  font-size: 13px;
  margin: auto;
}
/* Responsive for tablet */

@media screen and (min-width: 768px) {
  .stylish {
    background: url(/src/assets/images/backgroud_stylish.svg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .stylish__title {
    width: 350px;
    font-size: 28px;
  }
  .stylish__desc {
    width: 600px;
    margin-bottom: 30px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .stylish {
    object-fit: cover;
  }

  .stylish__title {
    font-size: 36px;
    width: 100%;
  }
}
