.features {
  margin: 0 auto;
  background-color: var(--places-color);
}
.features__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.list-box {
  display: flex;
}
.item-box:first-of-type {
  background-color: var(--primary-color);
}
.item-box {
  border: 1px solid var(--third-color);
  width: 50px;
  height: 50px;
  background-color: var(--font-color);
  color: var(--third-color);
  text-transform: uppercase;
  font-size: 13px;
  font-family: SemiBold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__title {
  color: var(--font-color);
  text-align: center;
  text-transform: capitalize;
  font-family: SemiBold;
  font-size: 16px;
  line-height: 33px;
}
.features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
}
.features__desc {
  text-align: center;
  color: var(--desc-color);
  font-family: SemiBold;
  font-size: 8px;
  font-weight: 400;
  line-height: 16px;
  padding: 20px 0;
}
.features__btn {
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--third-color);
  text-transform: capitalize;
  border: none;
  border-radius: 1px;
  width: 120px;
  margin: auto;
  padding: 5px;
  font-size: 13px;
}
.features__img {
  width: 200px;
  object-fit: cover;
}
/* Responsive for tablet */

@media screen and (min-width: 768px) {
  .features {
  }
  .features__container {
    flex-direction: row;
    padding: 50px 40px;
    align-items: flex-start;
  }
  .features__content {
    margin: 0;
    padding: 0 20px;
    align-items: flex-start;
  }
  .item-box {
    width: 75px;
    height: 75px;
  }
  .features__title {
    text-align: start;
    margin-top: -10px;
    font-size: 18px;
    line-height: 37px;
  }
  .features__desc {
    text-align: start;
    padding: 5px 0;
  }
  .features__img {
    width: 220px;
  }
  .features__btn {
    width: 100px;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .features {
  }
  .features__container {
    padding-left: 130px;
    padding-right: 130px;
  }
  .features__content:nth-last-child(even) {
    margin: 0 100px;
  }
  .features__content {
    padding: 0;
  }
  .item-box {
    width: 80px;
    height: 80px;
  }
  .features__title {
    font-size: 20px;
    line-height: 43px;
    padding-bottom: 20px;
  }
  .features__desc {
    font-size: 11px;
    line-height: 20px;
    padding-bottom: 15px;
  }
  .features__img {
    width: 350px;
  }
  .features__btn {
    margin: 30px 0;
    padding: 10px;
  }
}
