.reviews {
  margin: 0 auto;
}
.reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.reviews__titile {
  font-family: Raleway-Regular;
  font-size: 28px;
  line-height: 33px;
  color: var(--font-color);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.reviews__hr {
  width: 70px;
  border: 1px solid var(--primary-color);
  margin: 30px auto;
}
.reviews__desc {
  color: var(--desc-color);
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 40px;
}
.reviews__list {
  display: flex;
  flex-direction: column;
}
.reviews-items {
  text-align: center;
  margin-bottom: 30px;
}
.reviews__circel {
  display: inline;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 10px;
}
.review__list-title {
  margin: 30px auto;
  font-size: 20px;
  line-height: 24px;
  color: var(--font-color);
  font-weight: 700;
  text-transform: capitalize;
}
.reviews__list-desc {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  color: var(--desc-color);
  text-align: center;
}
.fa-regular,
.fa-solid {
  width: 20px;
  color: var(--primary-color);
}

/* Responsive for tablet */

@media screen and (min-width: 768px) {
  .reviews {
  }
  .reviews__list {
    flex-direction: row;
  }
  .reviews-items {
    padding: 0 15px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews {
  }
  .reviews__titile {
    font-size: 36px;
    line-height: 43px;
  }
  .reviews__desc {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .reviews__list {
    margin: 70px;
    flex-direction: row;
  }
}
