.about {
  margin: 50px auto;
}
.about__container {
  flex-direction: column;
  align-items: center;
  display: flex;
}
.about__left {
  padding: 10px 0;
}
.about__img {
  width: 320px;
  object-fit: cover;
}
.about__right {
  flex-direction: column;
  align-items: center;
  padding: 10px;
  display: flex;
}
.about__title {
  color: var(--font-color);
  text-align: center;
  font-family: SemiBold;
  font-size: 16px;
  line-height: 33px;
  text-transform: capitalize;
}
.about__hr {
  color: var(--primary-color);
  border: 1px solid;
  width: 40px;
  margin: 20px 0;
}
.about__desc {
  text-align: center;
  font-size: 8px;
  line-height: 16px;
  color: var(--desc-color);
  font-weight: 400;
  font-family: SemiBold;
}
.about__circle {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 10px;
  display: inline;
}
.list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.list-title {
  font-size: 12px;
  line-height: 17px;
  color: var(--font-color);
  font-weight: 600;
  font-family: SemiBold;
  text-align: center;
  padding: 20px;
  text-transform: capitalize;
}
.list-desc {
  text-align: center;
  font-size: 8px;
  line-height: 16px;
  color: var(--desc-color);
  font-weight: 400;
  font-family: SemiBold;
}
/* Responsive for tablet */

@media screen and (min-width: 768px) {
  .about {
  }
  .about__container {
    flex-direction: row;
    align-items: flex-start;
    padding: 25px;
  }
  .about__img {
    width: 420px;
  }
  .about__right {
    align-items: flex-start;
    padding: 5px;
  }
  .about__hr {
    margin: 5px 0;
  }
  .about__title {
    font-size: 18px;
    line-height: 37px;
  }
  .about__desc {
    text-align: start;
    font-size: 10px;
    line-height: 18px;
  }
  .about__circle {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-content {
    flex-direction: row;
    align-items: start;
    padding: 10px 0;
  }
  .list-title {
    padding: 0;
    text-align: start;
  }
  .content-decs {
    padding-left: 20px;
  }
  .list-desc {
    text-align: start;
    font-size: 10px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .about {
  }
  .about__container {
    justify-content: space-around;
    margin-right: 50px;
  }
  .about__title {
    font-size: 20px;
    line-height: 43px;
  }
  .about__hr {
    margin: 20px 0;
  }
  .about__img {
    width: 550px;
  }
  .about__left {
    padding-right: 100px;
  }
  .about__right {
    width: 500px;
  }
  .about__desc {
    font-size: 11px;
    line-height: 20px;
  }
  .list-content {
    padding: 23px 0;
  }
  .list-desc {
    font-size: 11px;
    line-height: 20px;
  }
}
