<footer class="footer">
  <div class="footer__container">
    <ul class="footer__list">
      <li class="footer__list-item"><i class="fa-brands fa-facebook"></i></li>
      <li class="footer__list-item"><i class="fa-brands fa-twitter"></i></li>
      <li class="footer__list-item"><i class="fa-brands fa-google-plus"></i></li>
      <li class="footer__list-item"><i class="fa-brands">Q</i></li>
      <li class="footer__list-item"><i class="fa-brands fa-instagram"></i></li>
      <li class="footer__list-item"><i class="fa-solid fa-wifi"></i></li>
    </ul>
    <span class="footer-ui">&copy; 2021 axure themes</span>
  </div>
</footer>