<section class="content_section">
  <div class="header__container">
    <!--header content-->
    <div class="content_left">
      <h1><img class="logo-content" src="./assets/images/logo_navbar.png" alt="logo navbar"></h1>
      <h2 class="container__title">modern axure template for beautiful prototypes</h2>
      <hr class="header__hr">
      <p class="header__desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi deserunt, hic quasi error
        numquam officia
        maxime consectetur quidem sint. Esse, laborum? Unde rerum inventor</p>
      <button class="header__btn">dowload</button>
    </div>
    <div class="content__right">
      <form class="header__form" action="javascript:void(0)" method="submit">
        <h3 class="header__form-title">try you <span href="#" class="link-form">free</span> trial today</h3>
        <input class="header__input" type="text" id="name" placeholder="Name">
        <input class="header__input" type="email" id="email" placeholder="Email">
        <input class="header__input" type="password" id="password" placeholder="Password">
        <button class="btn" type="submit" name="submit">get started</button>
      </form>
    </div>
  </div>
</section>