<header class="header__tool">
  <div class="container">
    <!-- NAVIGATION MENU -->
    <nav class="navbar">
      <!-- LOGO -->
      <h1 class="header__logo-left" href="javascript:void(0);"><img class="logo-img"
          src="./assets/images/logo_navbar.png" alt="logo nap"></h1>
      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <li class="navbar__list-item">
          <a class="navbar-text" href="javascript:void(0);">features</a>
        </li>
        <li class="navbar__list-item">
          <a class="navbar-text" href="javascript:void(0);">about</a>
        </li>
        <li class="navbar__list-item">
          <a class="navbar-text" href="javascript:void(0);">pricing</a>
        </li>
        <li class="navbar__list-item">
          <a class="navbar-text" href="javascript:void(0);">reviews</a>
        </li>
        <li class="navbar__list-item">
          <a class="navbar-text" href="javascript:void(0);">contact</a>
        </li>
      </ul>
      <!--Scroll down -->
      <label for="checkbox_toggle" class="hamburger">
        <i class="fa-solid fa-list"></i>
      </label>
    </nav>
  </div>
</header>