<section class="stylish">
  <div class="stylish__container">
    <h2 class="stylish__title">stylish axure design</h2>
    <hr class="stylish__hr">
    <p class="stylish__desc"> Use the sections you need remove the ones you don't. Create gorgeous prototypes faster
      than ever ! </p>
    <button class="stylish__btn">dowload</button>
  </div>
</section>