<section class="features">
  <div class="features__container">
    <div class="features__content">
      <ul class="list_box">
        <li class="item-box">tab 1</li>
        <li class="item-box">tab 2</li>
        <li class="item-box">tab 3</li>
      </ul>
    </div>
    <div class="features__content">
      <h3 class="features__title">tabs with soft transitioning effect</h3>
      <p class="features__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum quasi officia natus qui
        exercitationem nisi
        commodi corrupti. Sequi aperiam repellendus vero rerum magni harum veritatis earum non exercitationem
        reiciendis. Itaque. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex repudiandae dolore consectetur,
      </p>
      <p class="features__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptas non,
        placeat esse quisquam
        aliquid </p>
      <button class="features__btn">dowload</button>
    </div>
    <div class="features__content">
      <img class="features__img" src="./assets/images/image_right.png" alt="image right">
    </div>
  </div>
</section>