<section class="about">
  <div class="about__container">
    <div class="about__left">
      <img class="about__img" src="./assets/images/image_left_sub_list.png" alt="image su list">
    </div>
    <div class="about__right">
      <h3 class="about__title">sub list section</h3>
      <hr class="about__hr">
      <p class="about__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, odio ad? Soluta est
        porro, mollitia, sequi
        obcaecati expedita, enim cum inventore eos alias recusandae atque excepturi cupiditate a sint ipsam.</p>

      <div class="list-content">
        <div class="about__circle">
          <i class="fa-solid fa-cloud-arrow-up"></i>
        </div>
        <div class="content-decs">
          <h4 class="list-title">title</h4>
          <p class="list-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, eos. Officia labore
            molestiae reiciendis aut ipsa voluptatum aperiam,</p>
        </div>
      </div>
      <div class="list-content">
        <div class="about__circle">
          <i class="fa-solid fa-cloud-arrow-down"></i>
        </div>
        <div class="content-decs">
          <h4 class="list-title">title</h4>
          <p class="list-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quod consequatur? Vitae
            cumque unde amet quasi recusandae eum a possimus quod, veniam corrupti molestias officiis mollitia similique
            ducimus voluptate optio!</p>
        </div>
      </div>
    </div>
  </div>
</section>