<section class="contact">
  <div class="contact__container">
    <h2 class="contact__title">contact us</h2>
    <hr class="contact__hr" />
    <p class="contact__desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <form class="contact__form">
      <div class="contact__left">
        <input class="contact__form-input" type="text" placeholder="name">
        <input class="contact__form-input" type="text" placeholder="email">
        <input class="contact__form-input" type="text" placeholder="subject">
      </div>
      <div class="contact__right">
        <textarea class="contact__form-input" placeholder="message" cols="30" rows="8"></textarea>
      </div>
      <button class="contact__btn">send message</button>
    </form>
  </div>
</section>