<section class="reviews">
  <div class="reviews__container">
    <h2 class="reviews__titile">why this is awesome</h2>
    <hr class="reviews__hr">
    <p class="reviews__desc">Lorem ipsum dolor slt amet, consecteur adipiscing elit.</p>
    <div class="reviews__list">
      <div class="reviews-items">
        <div class="reviews__circel">
          <i class="fa-regular fa-lightbulb fa-flip-horizontal"></i>
        </div>
        <h3 class="review__list-title">thoughtful design</h3>
        <p class="reviews__list-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi tempore unde
          tenetur aperiam totam
          voluptatibus, cumque quaerat cupiditate nesciunt, quod eos? Nesciunt, dolore veritatis!</p>
      </div>
      <div class="reviews-items">
        <div class="reviews__circel">
          <i class="fa-solid fa-keyboard"></i>
        </div>
        <h3 class="review__list-title">well crafted</h3>
        <p class="reviews__list-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi tempore unde
          tenetur aperiam totam
          voluptatibus, cumque quaerat cupiditate nesciunt, quod eos? Nesciunt, dolore veritatis!</p>
      </div>
      <div class="reviews-items">
        <div class="reviews__circel">
          <i class="fa-solid fa-bolt-lightning"></i>
        </div>
        <h3 class="review__list-title">easy to customize</h3>
        <p class="reviews__list-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi tempore unde
          tenetur aperiam totam
          voluptatibus, cumque quaerat cupiditate nesciunt, quod eos? Nesciunt, dolore veritatis!</p>
      </div>
    </div>
  </div>
</section>