<section class="pricing">
  <div class="pricing__container">
    <div class="pricing__left">
      <h3 class="pricing__left-title">standard picture section</h3>
      <hr class="pricing__hr">
      <p class="pricing__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus illo quia ipsum
        deserunt eligendi alias?
        Animi velit illo atque nam minima cumque expedita. Id assumenda molestias magni accusantium eos recusandae.</p>
      <p class="pricing__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, maxime
        accusantium quaerat aliquid</p>
    </div>
    <div class="pricing__right">
      <img class="pricing__right-img" src="./assets/images/image_right_standard.png" alt=" image standard">
    </div>
  </div>
</section>