:root {
  --primary-color: #ff8b38;
  --secondary-color: #000000;
  --third-color: #fff;
  --hr-color: #7d7d7d;
  --font-color: #212121;
  --desc-color: #86878b;
  --firt-color: #e6e6e6;
  --places-color: #f3f3f3;
  --icon-color: #cccccc;
  --input-color: #bdbdbd;
  --focus-color: #808080;
}
